.sticky {
  position: fixed;
  top: 0;
  left: 0;
}

/*-------------------*/

* {
  margin: 0;
  padding: 0;
}

#topbar {
  background: green;
  height: 60px;
  color: white;
  text-align: center;
}

.topbarPlaceholder {
  height: 60px;
}

main {
  background: #ddd;
  height: 1800px;
}

#topbar.sticky {
  width: 100%;
}
