.dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog {
  background-color: #ffffff;
  padding: 20px;
  min-width: 200px;
}
.dialog-header {
  border-bottom: 1px solid;
  padding-bottom: 10px;
}
.dialog-main {
  padding-top: 10px;
  padding-bottom: 10px;
}
.dialog-footer {
  text-align: right;
}
.dialog-footer button {
  margin-left: 10px;
}
